html, body {
  max-width: 100%;
}

body {
  background-color: #1babb6;
  font-family: Kumbh Sans;
    overflow-x: hidden;
}

#upperCircle {
  position: absolute;
  top: -600px;
  left: -300px;
  transform: rotate(5deg);
}

#lowerCircle {
  position: absolute;
  bottom: -600px;
  right: -400px;
}

.card--main {
  position: relative;
  margin: 0 auto;
  width: 300px;
  height: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  background-color: #fff;
  top: 140px;
}

.card--profile {
  position: relative;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  background-color: #fff;
  top: -50px;
  border-radius: 50%;
}

.img--profile {
  border-radius: 50%;
  width: 90%;
  position: relative;
  left: 5px;
  top: 5px;
}

#cardPattern {
  /* position: relative;
  margin: 0 auto; */
  position: relative;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  left: -1px;
  top: -1px;
}
.card--title-wrapper {
  position: relative;
  margin: 0;
  top: -50px;
  text-align: center;
}
.card--name {
  display: inline-block;
  font-weight: 700;
  font-size: .85rem;
  margin-right: 10px;
  position: relative;
  /* left: -8px; */
}

.card--age {
  color: rgb(151, 151, 151);
  position: relative;
  font-size: .85rem;
  left: -4px;
}

.card--city {
  position: relative;
  margin: 0 auto;
  font-size: .7rem;
  color: rgb(151, 151, 151);
  top: -3px;
}

.attribution {
  position: absolute;
  bottom: 0;
}

.card--stats ul {
  list-style-type: none;
  display: flex;
  top: -50px;
  position: relative;
  border-top: 1px solid #efefef;
}

.card--stats ul > li {
  padding: 6px 24px 24px;
  left: -14px;
  padding-top: 6px;
  position: relative;
  text-align: center;
}
.card--stats {
  font-weight: 700;
  font-size: .8rem;
}

.card--stats-subheading {
  font-size: .6rem;
  color: rgb(151, 151, 151);
  top: -4px;
  position: relative;
  text-align: center;
}